.stepper {
    --stepper-background-primary: #0F6AF5;
    --stepper-background-secondary: #CDD5DF;
    --stepper-background-danger: #EC3D27;
    --stepper-text-primary: #9AA4B2;
    --stepper-text-secondary: #1B1C1D;
    --stepper-text-white: #FFFFFF;
    --stepper-item-size: 3rem;
    --stepper-item-gap: 5rem;
    --stepper-line-thickness: 0.2rem;
    --stepper-line-width: calc(var(--stepper-item-gap) * 2 + var(--stepper-item-size));

    counter-reset: step;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: var(--stepper-item-gap);
}

.stepper__item {
    position: relative;
    display: grid;
    place-items: center;
    gap: 1.5rem;
    color: var(--stepper-text-secondary);
    font-weight: 400;
    white-space: nowrap;
}

.stepper__item.check,
.stepper__item.current,
.stepper__item.fail {
    color: var(--stepper-text-primary);
    font-weight: 500;
}

.stepper__item.active {
    color: var(--stepper-text-secondary);
    font-weight: 600;
}

.stepper__item::before {
    content: counter(step) " ";
    counter-increment: step;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    height: var(--stepper-item-size);
    border-radius: 999999px;
    z-index: 1;

    border: var(--stepper-line-thickness) solid var(--stepper-background-secondary);
    background-color: #F8FAFC;
    color: var(--stepper-text-primary);
    font-size: 1.1rem;
}

.stepper__item.check::before {
    border: var(--stepper-line-thickness) solid var(--stepper-background-primary);
    background-color: var(--stepper-background-primary);
    color: var(--stepper-text-white);
}

.stepper__item.current::before {
    border: var(--stepper-line-thickness) solid var(--stepper-background-primary);
    color: var(--stepper-background-primary);
}

.stepper__item.fail::before {
    border: var(--stepper-line-thickness) solid var(--stepper-background-danger);
    background-color: var(--stepper-background-danger);
    color: var(--stepper-text-white);
}

.stepper__item:not(:first-child)::after {
    content: "";
    position: absolute;
    height: var(--stepper-line-thickness);
    right: var(--stepper-item-size);
    top: calc((var(--stepper-item-size) - var(--stepper-line-thickness)) / 2);
    width: var(--stepper-line-width);
    background-color: var(--stepper-background-secondary);
}

.stepper__item.check:not(:first-child)::after,
.stepper__item.current:not(:first-child)::after {
    background-color: var(--stepper-background-primary);
}

.stepper__item.fail:not(:first-child)::after {
    background-color: var(--stepper-background-danger);
}

.stepper__link:hover {
    text-decoration: underline;
}
