.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.88rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

.button__primary {
    border: none;
    color: white;
    background-color: var(--custom-color-blue);
}

.button__outline {
    color: var(--custom-color-blue);
    border: 1px solid var(--custom-color-blue);
}

.button__ghost {
    color: var(--custom-color-blue);
    font-weight: 500;
}
