.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.88rem;
    text-decoration: none;
}

.button__primary {
    border: none;
    color: white;
    background-color: var(--custom-color-blue);
}

.button__outline {
    color: var(--custom-color-blue);
    border: 1px solid var(--custom-color-blue);
    background-color: var(--custom-color-white);
}

.button__ghost {
    color: var(--custom-color-blue);
    font-weight: 500;
}

.button__text-primary {
    font-weight: 500;
    color: var(--custom-color-blue);
}

.button__sm {
    font-size: 0.75rem;
    padding: 0.65rem 1rem;
    border-radius: 1.5rem;
}

.button__md {
    font-size: 1rem;
    padding: 0.85rem 1.25rem;
    border-radius: 2rem;
}

.button__lg {
    font-size: 1.125rem;
    padding: 1.1rem 1.75rem;
    border-radius: 2.5rem;
}
