.card {
    display: grid;
    gap: 1rem;
    padding: 2.25rem 1.5rem;
    border-radius: 2rem;
    border: 2px solid rgba(174, 174, 174, 0.12);
}

.card__title {
    color: var(--custom-color-black);
    font-size: var(--custom-fs-5);
    font-weight: 500;
    line-height: var(--custom-lh-6);
}

.card__badges {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card__description {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--custom-color-gray);
    line-height: 150%;
    margin: 0.5rem 0;
}

.card__link {
    width: fit-content;
    height: fit-content;
}
