.card {
    display: grid;
    gap: 1.5rem;
    padding: 2.25rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 40px 95px 0 rgba(174, 174, 174, 0.12);
}

.card__title {
    color: var(--custom-color-black);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.card__badges {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card__link {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
}
