@import "quill-custom.css";
@import "cms/custom-list.css";
@import "cms/stepper.css";
@import "cms/rating.css";
@import "cms/statistic.css";

.text-editor .ql-editor {
    min-height: 15rem;
}

.custom__avatar-xxl {
    --qn-avatar-size: 7.5rem;
    --qn-avatar-icon-status-size: 1.5rem;
    --qn-avatar-icon-size: 2.5rem;
    --qn-avatar-radius-border-size: 2.5rem;
    --qn-avatar-profile-radius-size: 2.35rem;
    --qn-avatar-font-size: 2rem;
    --qn-avatar-border-size: 0.195rem;
}

.detail__desc-wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail__desc-divider::before {
    display: none;
}

.detail__desc {
    color: #9aa4b2;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.detail__actions {
    display: flex;
    gap: 1rem;
}

.review__item {
    padding: 0 1rem 1rem 1rem;
}

.review__header {
    display: flex;
    flex-direction: column;
}

.review__title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%;
}

.review__step {
    color: #9aa4b2;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 150%
}

.review__description {
    color: #697586;
    line-height: 150%;
}

@media only screen and (min-width: 79.937rem) {
    .detail__desc-wrapper {
        flex-direction: row;
        align-items: center;
    }

    .detail__desc-divider::before {
        content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNCA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPGNpcmNsZSBjeD0iMiIgY3k9IjIiIHI9IjIiIGZpbGw9IiNEOUQ5RDkiLz4KPC9zdmc+Cg==");
        display: inherit;
        margin-bottom: 6px;
    }

    .review__header {
        flex-direction: row;
        justify-content: space-between;
    }
}
