@import "quill-custom.css";
@import "cms/custom-list.css";
@import "cms/stepper.css";
@import "cms/rating.css";
@import "cms/statistic.css";

.text-editor .ql-editor {
    min-height: 15rem;
}

.detail__desc-wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail__desc-divider {
    display: none;
}

.detail__desc {
    color: #9aa4b2;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.detail__actions {
    display: flex;
    gap: 1rem;
}

.review__item {
    padding: 0 1rem 1rem 1rem;
}

.review__title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%;
}

.review__description {
    color: #697586;
    line-height: 150%;
}

@media only screen and (min-width: 79.937rem) {
    .detail__desc-wrapper {
        flex-direction: row;
        align-items: center;
    }

    .detail__desc-divider {
        display: inherit;
    }
}
