.jobs {
    padding: 4.5rem 2.5rem;
}

.jobs__count {
    text-align: center;
    color: var(--custom-color-black);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.jobs__wrapper {
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.jobs__pagination {
    margin: 1.5rem 0;
    display: grid;
    place-items: center;
    gap: 1.5rem;
}

.jobs__pagination-button {
    background-color: var(--custom-color-white);
    color: var(--custom-color-blue);
    font-weight: 500;
    text-decoration: none;
    padding: 1.125rem 2rem;
    border: 1px solid var(--custom-color-blue);
    border-radius: 2rem;
}

.jobs__pagination-detail {
    color: var(--custom-color-gray);
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .jobs__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .jobs {
        padding: 4.5rem 5rem;
    }

    .jobs__count {
        text-align: left;
    }
}

@media (min-width: 1280px) {
    .jobs__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}