.jobs {
    padding: 4.5rem 2.5rem;
}

.jobs__title {
    text-align: left;
    color: var(--custom-color-black);
    font-size: var(--custom-fs-3);
    font-weight: 500;
    line-height: 125%;
}

.jobs__wrapper {
    padding-top: 2.5rem;
    display: flex;
    gap: 1.5rem;
}

.jobs__empty {
    font-size: var(--custom-fs-5);
    font-weight: 500;
    color: var(--custom-color-black);
    text-align: center;
}

.jobs__list-container {
    width: 100%;
}

.jobs__list-wrapper {
    display: grid;
    place-items: center;
    max-width: 1536px;
    margin: 0 auto;
}

.jobs__form {
    position: relative;
}

.jobs__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.jobs__pagination {
    margin: 1.5rem 0;
    display: grid;
    place-items: center;
    gap: 1.5rem;
}

.jobs__pagination-button {
    background-color: var(--custom-color-white);
}

.jobs__pagination-detail {
    color: var(--custom-color-gray);
    line-height: var(--custom-lh-5);
}

.jobs-detail__banner {
    max-height: 350px;
    object-fit: cover;
    width: 100%;
}

.jobs-detail__wrapper {
    padding: 0 2.5rem;
    margin: 0 auto;
    max-width: 1280px;
}

.jobs-detail__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 1.5rem 0;
}

.jobs-detail__actions {
    display: flex;
    gap: 1rem;
}

.jobs-detail__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 125%;
    margin: 0.75rem 0;
}

.jobs-detail__timestamp {
    color: var(--custom-color-gray);
    font-size: 1rem;
    line-height: 150%;
}

.jobs-detail__badges {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.jobs-detail__divider {
    margin: 2.5rem 0;
}

.jobs-detail__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.jobs-form__container {
    margin: 0 auto;
    max-width: 640px;
}

.jobs-form__title {
    margin-bottom: 2rem;
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .jobs__container {
        grid-template-columns: 1fr 1fr;
    }

    .jobs-detail__buttons {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .jobs {
        padding: 4.5rem 5rem;
    }

    .jobs__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .jobs-detail__wrapper {
        padding: 0 5rem;
    }

    .jobs-detail__header-wrapper {
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
    }

    .jobs-detail__badges {
        justify-content: start;
    }
}
