.custom__ql-container > * {
    cursor: text;
    line-height: 175%;
}

.custom__ql-container img {
    display: block;
    margin: 0 auto;
}

.custom__ql-container strong {
    font-weight: 600;
}

.custom__ql-container p,
.custom__ql-container ol,
.custom__ql-container ul,
.custom__ql-container pre,
.custom__ql-container blockquote,
.custom__ql-container h1,
.custom__ql-container h2,
.custom__ql-container h3,
.custom__ql-container h4,
.custom__ql-container h5,
.custom__ql-container h6 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    color: var(--custom-color-black);
}

.custom__ql-container ol,
.custom__ql-container ul {
    padding-left: 1.5em;
}

.custom__ql-container ol > li,
.custom__ql-container ul > li {
    list-style-type: none;
}

.custom__ql-container ul > li::before {
    content: '\2022';
}

.custom__ql-container ul[data-checked=true],
.custom__ql-container ul[data-checked=false] {
    pointer-events: none;
}

.custom__ql-container ul[data-checked=true] > li *,
.custom__ql-container ul[data-checked=false] > li * {
    pointer-events: all;
}

.custom__ql-container ul[data-checked=true] > li::before,
.custom__ql-container ul[data-checked=false] > li::before {
    color: #777;
    cursor: pointer;
    pointer-events: all;
}

.custom__ql-container ul[data-checked=true] > li::before {
    content: '\2611';
}

.custom__ql-container ul[data-checked=false] > li::before {
    content: '\2610';
}

.custom__ql-container li::before {
    display: inline-block;
    white-space: nowrap;
    width: 1.2em;
}

.custom__ql-container li:not(.ql-direction-rtl)::before {
    margin-left: -1.5em;
    margin-right: 0.3em;
    text-align: right;
}

.custom__ql-container li.ql-direction-rtl::before {
    margin-left: 0.3em;
    margin-right: -1.5em;
}

.custom__ql-container ol li:not(.ql-direction-rtl),
.custom__ql-container ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
}

.custom__ql-container ol li.ql-direction-rtl,
.custom__ql-container ul li.ql-direction-rtl {
    padding-right: 1.5em;
}

.custom__ql-container ol li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
}

.custom__ql-container ol li:before {
    content: counter(list-0, decimal) '. ';
}

.custom__ql-container ol li.ql-indent-1 {
    counter-increment: list-1;
}

.custom__ql-container ol li.ql-indent-1:before {
    content: counter(list-1, lower-alpha) '. ';
}

.custom__ql-container ol li.ql-indent-1 {
    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.custom__ql-container ol li.ql-indent-2 {
    counter-increment: list-2;
}

.custom__ql-container ol li.ql-indent-2:before {
    content: counter(list-2, lower-roman) '. ';
}

.custom__ql-container ol li.ql-indent-2 {
    counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.custom__ql-container ol li.ql-indent-3 {
    counter-increment: list-3;
}

.custom__ql-container ol li.ql-indent-3:before {
    content: counter(list-3, decimal) '. ';
}

.custom__ql-container ol li.ql-indent-3 {
    counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}

.custom__ql-container ol li.ql-indent-4 {
    counter-increment: list-4;
}

.custom__ql-container ol li.ql-indent-4:before {
    content: counter(list-4, lower-alpha) '. ';
}

.custom__ql-container ol li.ql-indent-4 {
    counter-reset: list-5 list-6 list-7 list-8 list-9;
}

.custom__ql-container ol li.ql-indent-5 {
    counter-increment: list-5;
}

.custom__ql-container ol li.ql-indent-5:before {
    content: counter(list-5, lower-roman) '. ';
}

.custom__ql-container ol li.ql-indent-5 {
    counter-reset: list-6 list-7 list-8 list-9;
}

.custom__ql-container ol li.ql-indent-6 {
    counter-increment: list-6;
}

.custom__ql-container ol li.ql-indent-6:before {
    content: counter(list-6, decimal) '. ';
}

.custom__ql-container ol li.ql-indent-6 {
    counter-reset: list-7 list-8 list-9;
}

.custom__ql-container ol li.ql-indent-7 {
    counter-increment: list-7;
}

.custom__ql-container ol li.ql-indent-7:before {
    content: counter(list-7, lower-alpha) '. ';
}

.custom__ql-container ol li.ql-indent-7 {
    counter-reset: list-8 list-9;
}

.custom__ql-container ol li.ql-indent-8 {
    counter-increment: list-8;
}

.custom__ql-container ol li.ql-indent-8:before {
    content: counter(list-8, lower-roman) '. ';
}

.custom__ql-container ol li.ql-indent-8 {
    counter-reset: list-9;
}

.custom__ql-container ol li.ql-indent-9 {
    counter-increment: list-9;
}

.custom__ql-container ol li.ql-indent-9:before {
    content: counter(list-9, decimal) '. ';
}

.custom__ql-container .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
}

.custom__ql-container li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 4.5em;
}

.custom__ql-container .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
}

.custom__ql-container li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
}

.custom__ql-container .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
}

.custom__ql-container li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 7.5em;
}

.custom__ql-container .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
}

.custom__ql-container li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
}

.custom__ql-container .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
}

.custom__ql-container li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 10.5em;
}

.custom__ql-container .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
}

.custom__ql-container li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
}

.custom__ql-container .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
}

.custom__ql-container li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 13.5em;
}

.custom__ql-container .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
}

.custom__ql-container li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
}

.custom__ql-container .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
}

.custom__ql-container li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 16.5em;
}

.custom__ql-container .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
}

.custom__ql-container li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
}

.custom__ql-container .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
}

.custom__ql-container li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 19.5em;
}

.custom__ql-container .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
}

.custom__ql-container li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
}

.custom__ql-container .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
}

.custom__ql-container li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 22.5em;
}

.custom__ql-container .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
}

.custom__ql-container li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
}

.custom__ql-container .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
}

.custom__ql-container li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 25.5em;
}

.custom__ql-container .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
}

.custom__ql-container li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
}

.custom__ql-container .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
}

.custom__ql-container li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 28.5em;
}

.custom__ql-container .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
}

.custom__ql-container li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
}

.custom__ql-container .ql-video {
    display: block;
    max-width: 100%;
}

.custom__ql-container .ql-video.ql-align-center {
    margin: 0 auto;
}

.custom__ql-container .ql-video.ql-align-right {
    margin: 0 0 0 auto;
}

.custom__ql-container .ql-bg-black {
    background-color: #000;
}

.custom__ql-container .ql-bg-red {
    background-color: #e60000;
}

.custom__ql-container .ql-bg-orange {
    background-color: #f90;
}

.custom__ql-container .ql-bg-yellow {
    background-color: #ff0;
}

.custom__ql-container .ql-bg-green {
    background-color: #008a00;
}

.custom__ql-container .ql-bg-blue {
    background-color: #06c;
}

.custom__ql-container .ql-bg-purple {
    background-color: #93f;
}

.custom__ql-container .ql-color-white {
    color: #fff;
}

.custom__ql-container .ql-color-red {
    color: #e60000;
}

.custom__ql-container .ql-color-orange {
    color: #f90;
}

.custom__ql-container .ql-color-yellow {
    color: #ff0;
}

.custom__ql-container .ql-color-green {
    color: #008a00;
}

.custom__ql-container .ql-color-blue {
    color: #06c;
}

.custom__ql-container .ql-color-purple {
    color: #93f;
}

.custom__ql-container .ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
}

.custom__ql-container .ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
}

.custom__ql-container .ql-size-small {
    font-size: 0.75em;
}

.custom__ql-container .ql-size-large {
    font-size: 1.5em;
}

.custom__ql-container .ql-size-huge {
    font-size: 2.5em;
}

.custom__ql-container .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
}

.custom__ql-container .ql-align-center {
    text-align: center;
}

.custom__ql-container .ql-align-justify {
    text-align: justify;
}

.custom__ql-container .ql-align-right {
    text-align: right;
}
