.cta {
    padding: 1.25rem 2.5rem;
}

.cta__wrapper {
    background: linear-gradient(88deg, #EAF6FF 22.55%, #B8E3FF 93.75%);
    border-radius: 2rem;
}

.cta__container {
    position: relative;
    overflow: hidden;
    gap: 2.5rem;
    padding: 4.5rem 4rem;
    background-size: cover;
}

.cta__title {
    position: relative;
    width: 100%;
    color: var(--custom-color-black);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.075rem;
}

.cta__button {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin-top: 2.5rem;
    padding: 1.125rem 2rem;
    border-radius: 2rem;
    background-color: var(--custom-color-blue);
    color: var(--custom-color-white);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5rem;
}

@media (min-width: 1024px) {
    .cta {
        padding: 1.25rem 5rem;
    }

    .cta__title {
        width: 45%;
        font-size: 3rem;
    }
}