.hero {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: 1.5rem 2.5rem;
}

.hero__home-page {
    min-height: 60vh;
    background-color: #92D3F8;
}

.hero__about-page {
    min-height: 100vh;
    background-color: #92D3F8;
}

.hero__jobs-page {
    min-height: 60vh;
    background-color: #A9BEDB;
}

.hero__content {
    margin: auto 0;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
}

.hero__title {
    color: var(--custom-color-black);
    font-size: var(--custom-fs-1);
    font-weight: 500;
}

.hero__description {
    margin: 1rem 0;
    color: var(--custom-color-gray);
    font-size: var(--custom-fs-6);
    line-height: var(--custom-lh-4);
}

.hero__input-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: sticky;
    left: 0;
    top: 2.5rem;
}

.hero__input-group {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--custom-color-white);
    border: 1px solid #EDEDED;
    border-radius: 2.5rem;
}

.hero__input-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.hero__input,
.hero__select {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.825rem 0;
    background-color: var(--custom-color-white);
    color: var(--custom-color-gray);
}

.hero__select {
    padding-right: 2.5rem;
}

@media (min-width: 576px) {
    .hero {
        padding: 1.5rem 5rem;
    }
}

@media (min-width: 1024px) {
    .hero {
        background-position: center;
    }

    .hero__content {
        text-align: left;
    }

    .hero__title {
        width: 40%;
    }

    .hero__description {
        width: 35%;
    }

    .hero__input,
    .hero__select {
        min-width: 17.5rem;
        max-width: 20rem;
    }
}