.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.navbar__logo-text {
    color: var(--custom-color-blue);
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar__cta {
    display: none;
    background-color: var(--custom-color-white);
}

@media (min-width: 576px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar__cta {
        display: inline;
    }
}